########################
# Gradle
########################
.gradle/
**/build/

########################
# IntelliJ Platform
########################
.idea/
out/
*.iml

########################
# Eclipse
########################
.project
.classpath

########################
# Visual Studio Code
########################
.vscode/
